body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.item {
    background-color: rgb(228, 228, 228);
    padding: 20px;
    font-size: 0.77 rem;
    line-height: 1.7;
}
.item:nth-child(1) {
    grid-row: span 2;
    font-size: 1.5rem;
    display: grid;
    align-content: center;
}
.item p {
    margin: 0;
}

.example-banner {
    background-color: rgb(201, 198, 198);
    max-width: 900px;
    height: 300px;
    margin: 0 auto 20px;
    display: grid;
}

.title {
    color: black;
    font-size: 2rem;
    margin: auto;
}

.full-page-example {
    background-color: rgb(163, 163, 163);
    color: black;
    line-height: 25px;
    padding: 20px;
    display: grid;
    grid-template-columns: minmax(auto, 900px);
    justify-content: center;
    text-align: justify;
}

